{% if image.offline_responsiveimages_focus_x_axis is not empty %}
    <img data-speed="auto" class="{{ class }}" src="{{ image.focus(width, height, mode|default('crop')) }}" alt="{{ alt|default(image.title) }}" {{ image.focus(width, height, mode|default('crop'))|imagedimensions }} loading="lazy" />
{% else %}
    <img data-speed="auto" class="{{ class }}" src="{{ image|resize(width, height, mode|default('crop')) }}" alt="{{ alt|default(image.title) }}" {{ image|resize(width, height, mode|default('crop'))|imagedimensions }} loading="lazy" />
{% endif %}