/* Frontend editor */
.ct-widget.ct-ignition { position:fixed; left:auto; top:auto; right:20px; bottom:20px; z-index:10000; transition:all 0.5s ease 0s; }
.ct-widget.ct-ignition .ct-ignition__button { position:static; margin-top:10px;}

.ce-element { outline:2px dashed rgba(243, 156, 18, 0.5); }
.ce-element--focused, .ce-element:focus { outline:2px dashed rgba(243, 156, 18, 1); }

/**
 * Resets 
 */

* { margin:0; padding:0; box-sizing:border-box; }
html { scroll-behavior: auto; }

/* Tables */
table { width:100%; margin:1rem 0; }
th { border-bottom: 1px solid #666; }
td, th { padding: 2px .5em; }
tr:not(:last-child) td { border-bottom: 1px dotted #ccc; }

/* Lists */
ul, ol { margin-bottom:0; padding:0; list-style:none; }

/* Paragraphs */
p { margin-bottom:1em; }
p:last-child { margin-bottom:0; }

/* Medias */
img, svg, video, iframe { max-width:100%; height:auto; }
[data-sizes] { display:block; width:100%; }
[data-bg] { background-size:cover; background-repeat:no-repeat; background-position:center center; }

/* Links */
a { color:inherit; }
a:hover { text-decoration:none; }

/* Forms */
[data-validate-for] { display:none; }
[data-validate-for].oc-visible { display:block; }

button { cursor:pointer; }

/* Alerts */
.alert { position:relative; padding:1rem 4rem 1rem 1rem; background-color: #f44336; color:#fff; margin:1rem 0; background:#cfe2ff; border:1px solid #b6d4fe; color:#084298; }
.alert-close { position: absolute; top:0; right:0; padding:1rem; border:none; background:none; color:inherit; font-weight:bold; }
.alert-success { background:#d1e7dd; border-color:#badbcc; color:#0f5132; }
.alert-warning { background:#fff3cd; border-color:#ffecb5; color:#664d03; }
.alert-danger { background:#f8d7da; border-color:#f5c2c7; color:#842029; }