url = "/donnees-personnelles"
layout = "default"
title = "Données personnelles"
is_hidden = 0
seoOptionsEnabledInSitemap = 1
seoOptionsUseUpdatedAt = "true"
seoOptionsRobotIndex = "index"
seoOptionsRobotFollow = "follow"
seoOptionsOgCard = "summary-large-image"

[viewBag]
localeUrl[en] = "/donnees-personnelles"

[gdpr]
==
<section class="legal">
    <div class="container">
        
        <h1>Données personnelles</h1>
        <p>
            {{ gdpr.company_name }} s'engage à ce que la collecte et le traitement de vos données, effectués à partir du site <a href="{{ gdpr.company_url }}">{{ gdpr.company_website }}</a>, soient conformes au règlement général sur la protection des données (RGPD) et à la loi Informatique et Libertés.
            <a href="https://www.cnil.fr/fr/textes-officiels-europeens-protection-donnees" target="_blank">Lien vers le texte officiel</a>
        </p>
        
        <h2>Recueil des données personnelles par le(s) formulaires du site.</h2>
        <p>Chaque formulaire limite la collecte des données personnelles au strict nécessaire (minimisation des données) et :</p>
        <ul>
            <li>les objectifs du recueil des données sont clairement affichées sur le(s) formulaire(s)</li>
            <li>les données obligatoires ou facultatives sont clairement indiquées pour la gestion de votre demande</li>
            <li>uniquement {{ gdpr.company_name }} n’en prend connaissance</li>
            <li>aucunes données ne sera transmise à des tiers</li>
        </ul>
        <p>Vous pouvez demander l’exercice de vos droits <a href="https://www.cnil.fr/fr/comprendre-vos-droits" target="_blank">Informatique et Libertés.</a></p>
        
        <h2>Vos droits</h2>
        <p>Les données personnelles recueillies dans le cadre des formulaires proposés sur <a href="{{ gdpr.company_url }}">{{ gdpr.company_website }}</a> sont traitées selon des protocoles sécurisés et permettent à la {{ gdpr.company_name }} de gérer les demandes reçues en regard de la RGPD.</p>
        <p>Pour toute information ou exercice de vos droits Informatique et Libertés sur les traitements de données personnelles gérés par {{ gdpr.company_name }}, vous pouvez contacter l’entreprise {{ gdpr.company_name }} par courrier signé accompagné de la copie d’un titre d’identité à l'adresse suivante :</p>
        <p>
            {{ gdpr.company_name }}<br />
            {{ gdpr.company_address }}
        </p>
        
        {% if forms is not empty %}
            <h2>Durée de conservation des données de formulaire sur le site</h2>
            <p>Les données sont conservées au maximum 3 mois. Vous pouvez demander la suppression de ces données (cf paragraphe VOS DROITS)</p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Urls du formulaire</th>
                            <th>Finalité</th>
                            <th>Durée de consevation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in gdpr.forms %}
                            <tr>
                                <td>{{ form.url }}</td>
                                <td>{{ form.description }}</td>
                                <td>{{ form.lifetime }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        
        <h2>Informations sur les cookies</h2>
        <p>Nous utilisons différents cookies sur le site pour améliorer le fonctionnement du site et nos services.</p>
        <p>Qu'est-ce qu'un "cookie" ?</p>
        <p>Les cookies sont de petits fichiers textes stockés par le navigateur web sur le disque dur du visiteur d'un site web et qui servent (entre autres) à enregistrer des informations sur le visiteur ou encore sur son parcours dans le site. (<a href="https://fr.wikipedia.org/wiki/Cookie_(informatique)" target="_blank">source Wikipedia)</a></p>
        
        <h3>Limiter ses traces de sa navigation web sur les navigateur CHROME, FIREFOX et INTERNET EXPLORER</h3>
        
        <h4>1- Bloquer les cookies tiers</h4>
        <p>Les cookies tiers ne sont généralement pas indispensables au fonctionnement du site. Vous pouvez les refuser en modifiant les paramètres de votre navigateur.</p>
        
        <h5>Dans le navigateur Google Chrome :</h5>
        <p>Menu > Paramètres > Afficher les paramètres avancés (situé au bas de la page).</p>
        <p>Il faut ensuite cliquer sur le bouton Paramètres de contenu puis cocher la case  Bloquer les cookies et les données de sites tiers, enfin cliquer sur OK pour valider votre choix. </p>
        
        <h5>Dans le navigateur Firefox :</h5>
        <p>Menu > Options > Onglet "Vie privée"</p>
        <p>Paramétrer le menu "Règles de conservation" sur "Utiliser les paramètres personnalisés pour l'historique" .</p>
        <p>Enfin, décocher la case "Accepter les cookies tiers".</p>
        
        <h5>Dans Internet Explorer :</h5>
        <p>Menu > Options Internet > Onglet "Confidentialité" et sur le bouton Avancé pour faire apparaître la fenêtre des Paramètres de confidentialité avancés.</p>
        <p>Cochez ensuite la case "Ignorer la gestion automatique des cookies",  puis sélectionner "Refuser" dans la colonne "Cookies tierces parties".</p>
        
        <h5>2- Eviter l’installation des cookies traceurs (tracking) avec des extensions ?</h5>
        <p>Il existe de nombreuses extensions/modules qui peuvent être installé dans les navigateurs afin de bloquer les cookies traceurs.</p>
        <p>Ex. pour Chrome et Firefox : Disconnect ou Ghostery</p>
        
        <h4>3- Eviter les boutons de partage des réseaux sociaux</h4>
        <p>Chaque fois que vous partagez ou liker du contenu via des boutons de réseaux sociaux présents sur les sites web, vous êtes tracés.</p>
        <p>Afin d’éviter cela, vous pouvez installer un bloqueur logiciel comme PRIVACY BADGER </p>
        
        <h3>Types de cookies</h3>
        <p>3 types de cookies sont déposés sur le site web <a href="{{ gdpr.company_url }}">{{ gdpr.company_website }}</a></p>
        
        {% if cookies_required is not empty %}
            <h4>1- Cookies de fonctionnement (nécessaire au site)</h4>
            <p>Ils permettent au site de fonctionner de manière optimale. Vous pouvez les bloquer avec votre navigateur mais le site risque de ne pas fonctionner de manière optimale.</p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Cookies</th>
                            <th>Finalité</th>
                            <th>Durée de conservation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cookie in gdpr.cookies_required %}
                            <tr>
                                <td>{{ cookie.name }}</td>
                                <td>{{ cookie.description }}</td>
                                <td>{{ cookie.lifetime }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        
        {% if cookies_optionnal is not empty %}
            <h4>2- Cookies de mesure d’audience</h4>
            <p>Le site utilise la solution de mesure d’audience Google Analytics</p>
            <p><a href="https://developers.google.com/analytics/devguides/collection/gtagjs/cookie-usage" target="_blank">https://developers.google.com/analytics/devguides/collection/gtagjs/cookie-usage</a></p>
            <p>Depuis le 25 mai 2018, Google Analytics permet de gérer le durée de rétention des données des utilisateurs. Elle est établie par défaut à 26 mois pour <a href="{{ gdpr.company_url }}">{{ gdpr.company_website }}</a></p>
            <p>Par ailleurs, conformément à la RGPD, vous pouvez demander la suppression de vos données dans Analytics. Pour cela, il faut nous fournir le numéro de votre cookie Analytics (_ga) par courrier avec pièce d’identité.</p>
            <p><a href="https://support.google.com/analytics/answer/6004245?hl=fr&utm_id=ad" target="_blank">En savoir plus sur la protection des données dans Google Analytics</a></p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Cookie</th>
                            <th>Finalité</th>
                            <th>Durée de conservation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cookie in gdpr.cookies_optionnal %}
                            <tr>
                                <td>{{ cookie.name }}</td>
                                <td>{{ cookie.description }}</td>
                                <td>{{ cookie.lifetime }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <p>Lors de votre première visite sur <a href="{{ gdpr.company_url }}">{{ gdpr.company_website }}</a>, un bandeau vous informe de la présence de ces cookies et vous invite à indiquer votre choix. Ils ne sont déposés que si vous les acceptez ou que vous poursuivez votre navigation sur le site en visitant une seconde page de <a href="{{ gdpr.company_url }}">{{ gdpr.company_website }}</a>. Vous pouvez à tout moment vous informer et paramétrer vos cookies pour les accepter ou les refuser en vous rendant sur la page [Gestion des cookies] présente en bas de chaque page du site. Vous pourrez indiquer votre préférence soit globalement pour le site, soit service par service.</p>
        {% endif %}
        
        {% if services is not empty %}
            <h4>3- Service tiers</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Service tiers</th>
                            <th>Cookies</th>
                            <th>Durée de conservation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in gdpr.services %}
                            <tr>
                                <td>{{ service.name }}</td>
                                <td>{{ service.cookies }}</td>
                                <td>{{ service.lifetime }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <p>Lors de votre première visite sur <a href="{{ gdpr.company_url }}">{{ gdpr.company_website }}</a>, un bandeau vous informe de la présence de ces cookies et vous invite à indiquer votre choix. Ils ne sont déposés que si vous les acceptez ou que vous poursuivez votre navigation sur le site en visitant une seconde page de <a href="{{ gdpr.company_url }}">{{ gdpr.company_website }}</a>. Vous pouvez à tout moment vous informer et paramétrer vos cookies pour les accepter ou les refuser en vous rendant sur la page [Gestion des cookies] présente en bas de chaque page du site. Vous pourrez indiquer votre préférence soit globalement pour le site, soit service par service.</p>
        {% endif %}
        
        <h2>Cas particuliers des logs de serveurs</h2>
        <p>Les logs de serveurs sont conservés 12 mois (code des télécommunications).</p>
        <p>Ils ne servent à aucun recoupement, ni aucun travaux statistiques.</p>
        <p>Ils sont généralement utilisés pour faire de la recherche incident notamment en cas d'attaques ou de tentatives d'attaques informatiques.</p>
    
  </div>
</section>
