/**
 * Variables
 **/

// Nombre de colonnes de la grille
$cols: 12;

// Taille des gaps
$gaps: (
    'sm': 0.75rem,
    'md': 1.5rem,
    'lg': 3rem,
    'xl': 5vmin,
    'xxl': 10vmin,
);

// Breakpoints
$breakpoints: (
    'xl': 1400px,
    'lg': 1200px,
    'md': 992px,
    'sm': 768px,
    'xs': 576px,
);

/**
 * Global
 **/

:root {
    --header-h: 80px;
    --container-w: 1400px;
    --container-sm-w: 750px;

    --field-normal: #aaa;
    --field-active: #000;
    --field-error: #f00;
    --checkbox-size: 1em;

    @each $suffix, $value in $gaps {
        --gap-#{$suffix}: #{$value};
    }
}

html { scroll-padding-top:var(--header-h); }
body { font: var(--font-md); }

// Containers
.container { width:100%; max-width:var(--container-w); margin-left:auto; margin-right:auto; padding-left:var(--gap-md); padding-right:var(--gap-md); }
.container-sm { width:100%; max-width:var(--container-sm-w); margin-left:auto; margin-right:auto; padding-left:var(--gap-md); padding-right:var(--gap-md); }
.container-fluid { padding-left:var(--gap-md); padding-right:var(--gap-md); margin-left:auto; margin-right:auto; }
.container-left { margin-right:calc((100% - var(--container-w)) / 2); margin-left:auto; padding-left:var(--gap-md); }
.container-right { margin-left:calc((100% - var(--container-w)) / 2); margin-right:auto; padding-right:var(--gap-md); }

// Utility
.relative { position:relative; }
.overflow { overflow:hidden; }
.w-100 { width:100%; }
.vw-100 { width:100vw; }
.dvw-100 { width:100dvw; }
.w-auto { width:auto; }
.h-100 { height:100%; }
.vh-100 { height:100vh; }
.dvh-100 { height:100dvh; }
.h-auto { height:auto; }
.hide { display:none; }
.block { display:block; }
.inline-block { display:inline-block; }
.flex { display:flex; }
.inline-flex { display:inline-flex; }
.hidden { visibility:hidden; }

.w-100 > img { width:100%; }
.h-100 > img { height:100%; }

/**
 * Texts
 **/

// Text align
.text-left { text-align:left; }
.text-center { text-align:center; }
.text-right { text-align:right; }

// Line clamp
@for $i from 1 through $cols {
    .line-clamp-#{$i} { overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: #{$i}; }
}

// Text case
.uppercase { text-transform:uppercase; }
.lowercase { text-transform:lowercase; }
.capitalize { text-transform:capitalize; }
.normalcase { text-transform:none; }

// Text utility
.nowrap { white-space:nowrap; }
.break { word-break: break-word; }
.break-all { word-break: break-all; }

/**
 * Grid
 **/

 // Base classes
.row { display:flex; flex-direction:row; align-items:stretch; justify-content:flex-start; gap:var(--gap-md); }
.col { display:flex; flex-direction:column; align-items:stretch; justify-content:center; gap:var(--gap-md); }
.grid { display:grid; grid-template-rows:auto; grid-template-columns:auto; gap:var(--gap-md); align-items:center; }
.wrap { flex-wrap:wrap; }

// grid-x
@for $i from 1 through $cols {
    .grid-#{$i} {
        grid-template-columns: repeat($i, 1fr);
    }
}

// columns span-x
@for $i from 1 through $cols {
    .span-#{$i} {
        grid-column-end: span + ' ' + $i
    }
}

// columns start-x
@for $i from 1 through $cols {
    .start-#{$i} {
        grid-column-start: $i
    }
}

// columns end-x
@for $i from 1 through $cols {
    .end-#{$i} {
        grid-column-end: ($i + 1)
    }
}

// rows grid
@for $i from 1 through $cols {
    .row-grid-#{$i} {
        grid-template-rows: repeat($i, 'auto');
    }
}

// row span-x
@for $i from 1 through $cols {
    .row-span-#{$i} {
        grid-row-end: span + ' ' + $i
    }
}

// rows start-x
@for $i from 1 through $cols {
    .row-start-#{$i} {
        grid-row-start: $i
    }
}

// rows end-x
@for $i from 1 through $cols {
    .row-end-#{$i} {
        grid-row-end: ($i + 1)
    }
}

// order-x
@for $i from 1 through $cols {
    .order-#{$i} { order: #{$i}; }
}

/**
 * Align
 **/

// Block align
.align-start { align-items:flex-start; }
.align-center { align-items:center; }
.align-end { align-items:flex-end; }
.align-stretch { align-items:stretch; }
.align-self-start { align-self:flex-start; }
.align-self-center { align-self:center; }
.align-self-end { align-self:flex-end; }
.align-self-stretch { align-self:stretch; }
.justify-start { justify-content:flex-start; }
.justify-center { justify-content:center; }
.justify-end { justify-content:flex-end; }
.justify-stretch { justify-content:stretch; }
.justify-between { justify-content:space-between; }
.justify-self-start { justify-self:flex-start; }
.justify-self-center { justify-self:center; }
.justify-self-end { justify-self:flex-end; }
.justify-self-stretch { justify-self:stretch; }

/**
 * Spacings
 **/

// Margin
@each $suffix, $value in $gaps {
    .m-#{$suffix} { margin:var(--gap-#{$suffix}); }
    .mt-#{$suffix} { margin-top:var(--gap-#{$suffix}); }
    .mr-#{$suffix} { margin-right:var(--gap-#{$suffix}); }
    .mb-#{$suffix} { margin-bottom:var(--gap-#{$suffix}); }
    .ml-#{$suffix} { margin-left:var(--gap-#{$suffix}); }
    .mx-#{$suffix} { margin-left:var(--gap-#{$suffix}); margin-right:var(--gap-#{$suffix}); }
    .my-#{$suffix} { margin-top:var(--gap-#{$suffix}); margin-bottom:var(--gap-#{$suffix}); }
}
.m-0 { margin:0; }
.mt-0 { margin-top:0; }
.mr-0 { margin-right:0; }
.mb-0 { margin-bottom:0; }
.ml-0 { margin-left:0; }
.mx-0 { margin-left:0; margin-right:0; }
.my-0 { margin-top:0; margin-bottom:0; }
.m-auto { margin:auto; }
.mt-auto { margin-top:auto; }
.mr-auto { margin-right:auto; }
.mb-auto { margin-bottom:auto; }
.ml-auto { margin-left:auto; }
.mx-auto { margin-left:auto; margin-right:auto; }
.my-auto { margin-top:auto; margin-bottom:auto; }

// Padding
@each $suffix, $value in $gaps {
    .p-#{$suffix} { padding:var(--gap-#{$suffix}); }
    .pt-#{$suffix} { padding-top:var(--gap-#{$suffix}); }
    .pr-#{$suffix} { padding-right:var(--gap-#{$suffix}); }
    .pb-#{$suffix} { padding-bottom:var(--gap-#{$suffix}); }
    .pl-#{$suffix} { padding-left:var(--gap-#{$suffix}); }
    .px-#{$suffix} { padding-left:var(--gap-#{$suffix}); padding-right:var(--gap-#{$suffix}); }
    .py-#{$suffix} { padding-top:var(--gap-#{$suffix}); padding-bottom:var(--gap-#{$suffix}); }
}
.p-0 { padding:0; }
.pt-0 { padding-top:0; }
.pr-0 { padding-right:0; }
.pb-0 { padding-bottom:0; }
.pl-0 { padding-left:0; }
.px-0 { padding-left:0; padding-right:0; }
.py-0 { padding-top:0; padding-bottom:0; }

// Gap
@each $suffix, $value in $gaps {
    .g-#{$suffix} { gap:var(--gap-#{$suffix}) }
}
.g-0 { gap:0; }
.gx-0 { column-gap:0; }
.gy-0 { row-gap:0; }

/**
 * Components
 **/

// Mentions légales
#legal h1,
#legal h2,
#legal h3 { margin:1em 0 1em 0; line-height:1; }
#legal ul { margin:1em 0 1em 1.5em; list-style:disc; }
#legal a { text-decoration:underline; }

// Core pages
#core { min-height:calc(100dvh - var(--header-h)); }

// Alerts
.alert { position:relative; padding:1rem 4rem 1rem 1rem; background-color: #f44336; margin:1rem 0; background:#cfe2ff; border:1px solid #b6d4fe; color:#084298; }
.alert-close { position: absolute; top:0; right:0; padding:1.35rem; border:none; background:none; color:inherit; font-weight:bold; line-height:1; }
.alert-success { background:#d1e7dd; border-color:#badbcc; color:#0f5132; }
.alert-warning { background:#fff3cd; border-color:#ffecb5; color:#664d03; }
.alert-danger { background:#f8d7da; border-color:#f5c2c7; color:#842029; }

// Marquee
.marquee-btn { position:absolute; top:0; right:0; height:100%; background:red; padding:0 1rem; z-index:2; }

// Popups
[data-fancybox-popup] .grid { max-width:1000px; max-height:80dvh; overflow-y:auto; }

/**
 * Forms
 **/

// General elements
[data-validate-for] { color:var(--field-error); }
.field { position:relative; display:flex; flex-direction:column; align-items:stretch; justify-content:flex-start; flex:1; }
.field-input { padding:1em; border:1px solid var(--field-normal); outline:none; resize: none; font-size:1rem; display:block; line-height:inherit;}

.field-focus .field-input { border-color:var(--field-active); }
.field-error .field-input { border-color:var(--field-error); }

// Checkbox & Radios
.field-checkbox,
.field-radio { width:max-content; max-width:100%; }
.field-checkbox .field-input,
.field-radio .field-input { display: none; }
.field-checkbox .field-label,
.field-radio .field-label { display:flex; flex-direction:row; align-items:baseline; justify-content:flex-start; gap:var(--gap-sm); }
.field-checkbox .field-label > span,
.field-radio .field-label > span { position:relative; display: block; min-width:var(--checkbox-size); aspect-ratio:1; border: 1px solid var(--field-normal); }
.field-checkbox .field-input:checked + .field-label span,
.field-radio .field-input:checked + .field-label span{ background-color: var(--field-active); border-color:var(--field-active); box-shadow: inset 0px 0px 0px 3px #ffff; }
.field-radio .field-label span { border-radius:50%; }

// Checkboxes & Radios
.field-checkboxes .field,
.field-radios .field { flex:inherit; }

// Switches
.field-checkbox.switch .field-label,
.field-radio.switch .field-label { position:relative; }
.field-checkbox.switch .field-label > span,
.field-radio.switch .field-label > span { min-width:calc(var(--checkbox-size) * 2); aspect-ratio:2 / 1; border-radius:var(--checkbox-size); transition:all 0.5s ease 0s; }
.field-checkbox.switch .field-label > span:before,
.field-radio.switch .field-label > span:before { content:''; position:relative; left:0; display:block; transform:scale(0.7); width:var(--checkbox-size); border:1px solid var(--field-normal); border-radius:50%; aspect-ratio:1; background:var(--field-normal); transition:all 0.5s ease 0s; }
.field-checkbox.switch .field-input:checked + .field-label > span,
.field-radio.switch .field-input:checked + .field-label > span { background:none; box-shadow:none; border-color:var(--field-active); }
.field-checkbox.switch .field-input:checked + .field-label > span:before,
.field-radio.switch .field-input:checked + .field-label > span:before { left:50%; background:var(--field-active); }

// Select
.field-select .select-placeholder { cursor:pointer; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' fill='none' viewBox='0 0 25 24'%3E%3Cpath fill='%23737373' d='M19.976 8.433a.9.9 0 010 1.273l-7 7a.9.9 0 01-1.273 0l-7-7a.9.9 0 011.273-1.273l6.364 6.364 6.363-6.364a.9.9 0 011.273 0z' /%3E%3C/svg%3E") no-repeat right 1rem center / 1rem;  }
.field-select .select-options { position:absolute; width:100%; left:0; margin-top:-1px; z-index:100; background:#fff; opacity:0; pointer-events:none; transition:opacity 0.3s ease 0s; padding:0; }
.field-select .select-option { cursor:pointer; padding:1em; }
.field-select .select-option:not(:last-child) { border-bottom:1px solid var(--field-normal); }
.field-select .select-option:hover { background:rgba(0,0,0,0.1); }
.field-select.field-focus .select-options { opacity:1; pointer-events:all; }

// Number
input[type="number"]::-webkit-inner-spin-button { width:1em; margin:-1em -1em -1em 0; padding:0.5em; } 

// Range
input[type="range"] { appearance:none; -webkit-appearance: none; margin:1em 0; }
input[type="range"]::-webkit-slider-runnable-track { height: 5px; border-radius:5px; background: var(--field-normal); border: none; }
input[type="range"]::-webkit-slider-thumb { appearance:none; -webkit-appearance: none; border:none; width:2em; height:2em; margin-top:-0.8em; border-radius: 50%; background:var(--field-active); cursor:pointer; opacity:1; }

/**
 * Import responsive
 **/
@import 'framework-responsive';