* { margin:0; padding:0; box-sizing:border-box; }
*:before, *:after { box-sizing:border-box; }

// Tables
table { width:100%; margin:1rem 0; border-collapse:collapse; }
td, th { padding:0.5em; text-align:left; border: 1px solid #ccc; }

// Lists
ul, ol { margin-bottom:0; padding:0; list-style:none; }

// Paragraphs
p { margin-bottom:1em; }
p:last-child { margin-bottom:0; }

// Address
address { font-style:normal; }

// Medias
img, svg, video { display:block; max-width:100%; height:auto; object-fit: cover; }

// Links
a { text-decoration:none; color:inherit; }
a:hover { text-decoration:none; }

// Forms
[data-validate-for] { display:none; }
[data-validate-for].oc-visible { display:block; }
fieldset{ border:none; }
input, textarea, select { font-family:inherit; outline:none; }

// Buttons
button { cursor:pointer; outline:none; padding:0; background:none; border:none; -webkit-tap-highlight-color: transparent; font-family: inherit; font-size: inherit; width:max-content; }
.btn { display:inline-flex; width:max-content; white-space:nowrap; padding:0.5rem 1rem; cursor:pointer; border:1px solid transparent; transition:all 0.4s ease 0s; outline:none; }

// Lenis
.lenis { height: auto; }
.lenis.lenis-smooth { scroll-behavior: auto; }
.lenis.lenis-smooth [data-lenis-prevent] { overscroll-behavior: contain; }
.lenis.lenis-stopped { overflow: hidden; }
.lenis.lenis-scrolling iframe { pointer-events: none; }