/**************
 * Utility
 **************/

/* Variables */
$cols: 12;

:root {
    --header-h: 80px;
    --container-w: 1400px;

    --gap-sm: 0.75rem;
    --gap-md: 1.5rem;
    --gap-lg: 3rem;
    --gap-xl: 5vmin;
    --gap-2xl: 10vmin;

    --font-h1: normal 700 clamp(1.875rem, 1.375rem + 2vw, 3.75rem) / 1.25 Arial, sans-serif;
    --font-h2: normal 700 clamp(1.5625rem, 1.2292rem + 1.3333vw, 2.8125rem) / 1.25 Arial, sans-serif;
    --font-h3: normal 700 clamp(1.25rem, 1.0833rem + 0.6667vw, 1.875rem) / 1.25 Arial, sans-serif;
    --font-h4: normal 700 clamp(1.125rem, 1.0083rem + 0.4667vw, 1.5625rem) / 1.25 Arial, sans-serif;
    --font-sm: normal 400 clamp(0.875rem, 0.8417rem + 0.1333vw, 1rem) / 1.5 Arial, sans-serif;
    --font-md: normal 400 clamp(1rem, 0.9667rem + 0.1333vw, 1.125rem) / 1.5 Arial, sans-serif;
    --font-lg: normal 400 clamp(1.125rem, 1.0917rem + 0.1333vw, 1.25rem) / 1.5 Arial, sans-serif;
}

html { scroll-padding-top:var(--header-h); }
body { font: var(--font-md); }

/* Text Sizing */
.h1, h1 { font: var(--font-h1); }
.h2, h2 { font: var(--font-h2); }
.h3, h3 { font: var(--font-h3); }
.h4, h4 { font: var(--font-h4); }
.font-sm { font: var(--font-sm); }
.font-md { font: var(--font-md); }
.font-lg { font: var(--font-lg); }

/* Containers */
.container { width:100%; max-width:var(--container-w); margin-left:auto; margin-right:auto; padding-left:var(--gap-md); padding-right:var(--gap-md); }
.container-fluid { padding-left:var(--gap-md); padding-right:var(--gap-md); }
.container-left { max-width:calc(100% - (100% - var(--container-w)) / 2); margin-right:auto; padding-right:var(--gap-md); }
.container-right { max-width:calc(100% - (100% - var(--container-w)) / 2); margin-left:auto; padding-left:var(--gap-md); }

/* Utility */
.relative { position:relative; }
.overflow { overflow:hidden; }
.w100 { width:100%; }
.h100 { height:100%; }
.hide { display:none; }
.hidden { visibility:hidden; }

/* Grid */
.row { display:flex; flex-direction:row; align-items:stretch; justify-content:flex-start; gap:var(--gap-md); }
.col { display:flex; flex-direction:column; align-items:stretch; justify-content:center; gap:var(--gap-md); }
.grid { display:grid; grid-template-rows:auto; grid-template-columns:auto; gap:var(--gap-md); align-items:center; }

// Generate grid-x classes
@for $i from 1 through $cols {
    .grid-#{$i} {
        grid-template-columns: repeat($i, 1fr);
    }
}

// Generate span-x classes
@for $i from 1 through $cols {
    .span-#{$i} {
        grid-column-end: span + ' ' + $i
    }
}

// Generate start-x classes
@for $i from 1 through $cols {
    .start-#{$i} {
        grid-column-start: $i
    }
}

// Generate end-x classes
@for $i from 1 through $cols {
    .end-#{$i} {
        grid-column-end: ($i + 1)
    }
}

/* Align */
.align-start { align-items:flex-start; }
.align-center { align-items:center; }
.align-end { align-items:flex-end; }
.align-stretch { align-items:stretch; }
.align-self-start { align-self:flex-start; }
.align-self-center { align-self:center; }
.align-self-end { align-self:flex-end; }
.align-self-stretch { align-self:stretch; }
.justify-start { justify-content:flex-start; }
.justify-center { justify-content:center; }
.justify-end { justify-content:flex-end; }
.justify-stretch { justify-content:stretch; }
.justify-between { justify-content:space-between; }
.justify-self-start { justify-self:flex-start; }
.justify-self-center { justify-self:center; }
.justify-self-end { justify-self:flex-end; }
.justify-self-stretch { justify-self:stretch; }

.text-left { text-align:left; }
.text-center { text-align:center; }
.text-right { text-align:right; }

/* Spacings */
.margin-sm { margin-top:var(--gap-sm); margin-bottom:var(--gap-sm); }
.margin-md { margin-top:var(--gap-md); margin-bottom:var(--gap-md); }
.margin-lg { margin-top:var(--gap-lg); margin-bottom:var(--gap-lg); }
.margin-xl { margin-top:var(--gap-xl); margin-bottom:var(--gap-xl); }
.margin-2xl { margin-top:var(--gap-2xl); margin-bottom:var(--gap-2xl); }

.padding-sm { padding-top:var(--gap-sm); padding-bottom:var(--gap-sm); }
.padding-md { padding-top:var(--gap-md); padding-bottom:var(--gap-md); }
.padding-lg { padding-top:var(--gap-lg); padding-bottom:var(--gap-lg); }
.padding-xl { padding-top:var(--gap-xl); padding-bottom:var(--gap-xl); }
.padding-2xl { padding-top:var(--gap-2xl); padding-bottom:var(--gap-2xl); }

.mt-0 { margin-top:0; }
.mt-sm { margin-top:var(--gap-sm); }
.mt-md { margin-top:var(--gap-md); }
.mt-lg { margin-top:var(--gap-lg); }
.mt-xl { margin-top:var(--gap-xl); }
.mt-2xl { margin-top:var(--gap-2xl); }

.mb-0 { margin-bottom:0; }
.mb-sm { margin-bottom:var(--gap-sm); }
.mb-md { margin-bottom:var(--gap-md); }
.mb-lg { margin-bottom:var(--gap-lg); }
.mb-xl { margin-bottom:var(--gap-xl); }
.mb-2xl { margin-bottom:var(--gap-2xl); }

.pt-0 { padding-top:0; }
.pt-sm { padding-top:var(--gap-sm); }
.pt-md { padding-top:var(--gap-md); }
.pt-lg { padding-top:var(--gap-lg); }
.pt-xl { padding-top:var(--gap-xl); }
.pt-2xl { padding-top:var(--gap-2xl); }

.pb-0 { padding-bottom:0; }
.pb-sm { padding-bottom:var(--gap-sm); }
.pb-md { padding-bottom:var(--gap-md); }
.pb-lg { padding-bottom:var(--gap-lg); }
.pb-xl { padding-bottom:var(--gap-xl); }
.pb-2xl { padding-bottom:var(--gap-2xl); }

.gap-0 { gap:0; }
.gap-sm { gap:var(--gap-sm); }
.gap-md { gap:var(--gap-md); }
.gap-lg { gap:var(--gap-lg); }
.gap-xl { gap:var(--gap-xl); }
.gap-2xl { gap:var(--gap-2xl); }

/**************
 * Layout
 **************/

/* Wrappers */
#page { position:relative; width:100%; overflow:hidden; }
#main { margin-top:var(--header-h); }

/* Core pages */
#core { height:calc(100vh - var(--header-h)); }
#core .text { padding:var(--gap-xl)}

/* Header */
#header { position:fixed; left:0; top:0; width:100%; height:var(--header-h); z-index:10; }

/* Footer */
#footer { }

/**************
 * Components
 **************/

/* Marquees */
.marquee-btn { position:absolute; top:0; right:0; height:100%; background:red; padding:0 1rem; z-index:2; }

/* Popups */
[data-fancybox-popup] .grid { max-width:1000px; max-height:80vh; overflow-y:auto; }

/* Buttons */
.btn { display:inline-flex; width:max-content; white-space:nowrap; padding:0.5rem 1rem; cursor:pointer; border:1px solid transparent; transition:all 0.4s ease 0s; outline:none; }

/* Forms */
.field { flex-grow:1; }

/**************
 * Pages
 **************/

/* Accueil */
