/**
 * Layout
 **/

/* Wrappers */
body {
    --header-h: 80px;
    --container-w: 1400px;

    --spacing-sm: 5vmin;
    --spacing-md: 10vmin;
    --spacing-lg: 15vmin;

    --space-xs: 0.75rem;
    --space-md: 1.5rem;
    --space-lg: 3rem;

    --gap-sm: 0.75rem;
    --gap-md: 1.5rem;
    --gap-lg: 3rem;

    --fs-h1: clamp(1.875rem, 1.7083rem + 0.6667vw, 2.5rem);
    --fs-h2: clamp(1.5625rem, 1.3958rem + 0.6667vw, 2.1875rem);
    --fs-h3: clamp(1.25rem, 1.0833rem + 0.6667vw, 1.875rem);
    --fs-h4: clamp(1.125rem, 0.9917rem + 0.5333vw, 1.625rem);
    --fs-h5: clamp(1rem, 0.9rem + 0.4vw, 1.375rem);
    --fs-h6: clamp(0.875rem, 0.8083rem + 0.2667vw, 1.125rem);

    --fs-sm: clamp(0.875rem, 0.8417rem + 0.1333vw, 1rem);
    --fs-md: clamp(0.875rem, 0.8083rem + 0.2667vw, 1.125rem);
    --fs-xs: clamp(0.75rem, 0.7167rem + 0.1333vw, 0.875rem);

    font-size: var(--fs-md);
    line-height: 1.5;
}

#page { position:relative; width:100%; overflow:hidden; }
#main { margin-top:var(--header-h); }

/* Header */
#header { position:fixed; left:0; top:0; width:100%; height:var(--header-h); z-index:10; }

/* Footer */
#footer {}

/**
 * Utility classes
 **/

/* Text Sizing */
.h1, h1 { font-size:var(--fs-h1); line-height:1.25; }
.h2, h2 { font-size:var(--fs-h2); line-height:1.25; }
.h3, h3 { font-size:var(--fs-h3); line-height:1.33; }
.h4, h4 { font-size:var(--fs-h4); line-height:1.33; }
.h5, h5 { font-size:var(--fs-h5); line-height:1.5; }
.h6, h6 { font-size:var(--fs-h6); line-height:1.5; }
.p { font-size: var(--fs-md); }
.small { font-size: var(--fs-sm); }
.small-xs { font-size:var(--fs-xs); }

/* Containers */
.container { width:100%; max-width:var(--container-w); margin-left:auto; margin-right:auto; padding-left:var(--gap-md); padding-right:var(--gap-md); }
.container-fluid { padding-left:var(--gap-md); padding-right:var(--gap-md); }
.container-left { max-width:calc(100% - (100% - var(--container-w)) / 2); margin-right:auto; padding-right:var(--gap-md); }
.container-right { max-width:calc(100% - (100% - var(--container-w)) / 2); margin-left:auto; padding-left:var(--gap-md); }

/* Spacings */
.margin-sm { margin-top:var(--spacing-sm); margin-bottom:var(--spacing-sm); }
.margin-md { margin-top:var(--spacing-md); margin-bottom:var(--spacing-md); }
.margin-lg { margin-top:var(--spacing-lg); margin-bottom:var(--spacing-lg); }

.padding-sm { padding-top:var(--spacing-sm); padding-bottom:var(--spacing-sm); }
.padding-md { padding-top:var(--spacing-md); padding-bottom:var(--spacing-md); }
.padding-lg { padding-top:var(--spacing-lg); padding-bottom:var(--spacing-lg); }

.mt-0 { margin-top:0; }
.mt-sm { margin-top:var(--space-sm); }
.mt-md { margin-top:var(--space-md); }
.mt-lg { margin-top:var(--space-lg); }

.mb-0 { margin-bottom:0; }
.mb-sm { margin-bottom:var(--space-sm); }
.mb-md { margin-bottom:var(--space-md); }
.mb-lg { margin-bottom:var(--space-lg); }

.pt-0 { padding-top:0; }
.pt-sm { padding-top:var(--space-sm); }
.pt-md { padding-top:var(--space-md); }
.pt-lg { padding-top:var(--space-lg); }

.pb-0 { padding-bottom:0; }
.pb-sm { padding-bottom:var(--space-sm); }
.pb-md { padding-bottom:var(--space-md); }
.pb-lg { padding-bottom:var(--space-lg); }

.g-0 { gap:0; }
.g-sm { gap:var(--gap-sm); }
.g-md { gap:var(--gap-md); }
.g-lg { gap:var(--gap-lg); }

/* Utility */
.relative { position:relative; }
.h100 { height:100%; }
.hide { display:none; }

/* Text */
.text-left { text-align:left; }
.text-center { text-align:center; }
.text-right { text-align:right; }

/* Grid */
.row { display:flex; flex-direction:row; align-items:stretch; justify-content:flex-start; gap:var(--gap-md); }
.col { display:flex; flex-direction:column; align-items:stretch; justify-content:center; gap:var(--gap-md); }

.grid { display:grid; grid-template-rows:auto; gap:var(--gap-md); align-items:center; }
.g1 { grid-template-columns:1fr; }
.g2 { grid-template-columns:repeat(2, 1fr); }
.g3 { grid-template-columns:repeat(3, 1fr); }
.g4 { grid-template-columns:repeat(4, 1fr); }
.g5 { grid-template-columns:repeat(5, 1fr); }
.g6 { grid-template-columns:repeat(6, 1fr); }
.g7 { grid-template-columns:repeat(7, 1fr); }
.g8 { grid-template-columns:repeat(8, 1fr); }
.g9 { grid-template-columns:repeat(9, 1fr); }
.g10 { grid-template-columns:repeat(10, 1fr); }
.g11 { grid-template-columns:repeat(11, 1fr); }
.g12 { grid-template-columns:repeat(12, 1fr); }

/* Align */
.align-start { align-items:flex-start; align-self:flex-start; }
.align-center { align-items:center; align-self:center; }
.align-end { align-items:flex-end; align-self:flex-end; }
.align-stretch { align-items:stretch; align-self:stretch; }
.justify-start { justify-content:flex-start; justify-self:flex-start; }
.justify-center { justify-content:center; justify-self:center; }
.justify-end { justify-content:flex-end; justify-self:flex-end; }
.justify-stretch { justify-content:stretch; justify-self:stretch; }

/**
 * Components
 **/

/* Marquees */
.marquee-btn { position:absolute; top:0; right:0; height:100%; background:red; padding:0 1rem; z-index:2; }
.marquee-item { display:inline-block; padding:0 var(--gap-md); }

/* Popups */
[data-fancybox-popup] .grid { max-width:1000px; max-height:80vh; overflow-y:auto; }

/* Buttons */
.btn { display:inline-flex; width:max-content; white-space:nowrap; padding:0.5rem 1rem; cursor:pointer; border:1px solid transparent; transition:all 0.4s ease 0s; outline:none; }

/* Forms */
.field { flex-grow:1; }

/*********
 * Pages
 *********/

/* Accueil */
