/**************
 * Layout
 **************/
// Variables
:root {

}

// Wrappers
#page { position:relative; width:100%; overflow:hidden; }
#main { margin-top:var(--header-h); }

// Header
#header { position:fixed; left:0; top:0; width:100%; height:var(--header-h); z-index:10; }

// Footer
#footer { }

// Buttons
.btn { }

// Forms
.field { }

/**************
 * Blocks
 **************/




/**************
 * Pages
 **************/

// Accueil
