/**************
 * Layout, guideline
 **************/

// Variables
:root {
    --font-h1: normal 700 clamp(1.875rem, calc(1.375rem + 2vw), 3.75rem) / 1.25 Arial, sans-serif;
    --font-h2: normal 700 clamp(1.5625rem, calc(1.2292rem + 1.3333vw), 2.8125rem) / 1.25 Arial, sans-serif;
    --font-h3: normal 700 clamp(1.25rem, calc(1.0833rem + 0.6667vw), 1.875rem) / 1.25 Arial, sans-serif;
    --font-h4: normal 700 clamp(1.125rem, calc(1.0083rem + 0.4667vw), 1.5625rem) / 1.25 Arial, sans-serif;
    --font-sm: normal 400 clamp(0.875rem, calc(0.8417rem + 0.1333vw), 1rem) / 1.5 Arial, sans-serif;
    --font-md: normal 400 clamp(1rem, calc(0.9667rem + 0.1333vw), 1.125rem) / 1.5 Arial, sans-serif;
    --font-lg: normal 400 clamp(1.125rem, calc(1.0917rem + 0.1333vw), 1.25rem) / 1.5 Arial, sans-serif;
}

body { font: var(--font-md); }

// Wrappers
#page { position:relative; width:100%; overflow:hidden; }
#main { padding-top:var(--header-h); }

// Header
#header { position:fixed; left:0; top:0; width:100%; height:var(--header-h); z-index:10; }

// Footer
#footer { }

// Text sizing
.h1, h1 { font: var(--font-h1); }
.h2, h2 { font: var(--font-h2); }
.h3, h3 { font: var(--font-h3); }
.h4, h4 { font: var(--font-h4); }
.font-sm { font: var(--font-sm); }
.font-md { font: var(--font-md); }
.font-lg { font: var(--font-lg); }

// Buttons
.btn { }

// Forms
.field { flex:1; }

.oc-box { display:contents; }

/**************
 * Utility, common classes
 **************/



/**************
 * Blocks, general partials
 **************/




/**************
 * Pages, specific blocks
 **************/

// Accueil