/**
 * Layout
 **/

/* Wrappers */
body {
    --headerHeight: 80px;
    --containerWidth: 1400px;
    --containerWidthLg: calc(100% - (100% - var(--containerWidth)) / 2);

    --spacing: 10vmin;
    --spacingSm: 5vmin;
    --spacingLg: 15vmin;
    --gap: 1.5rem;

    --m1: 1.5rem;
    --m2: 3rem;
    --m3: 4.5rem;

    --fs-h1: clamp(1.875rem, 1.7083rem + 0.6667vw, 2.5rem);
    --fs-h2: clamp(1.5625rem, 1.3958rem + 0.6667vw, 2.1875rem);
    --fs-h3: clamp(1.25rem, 1.0833rem + 0.6667vw, 1.875rem);
    --fs-h4: clamp(1.125rem, 0.9917rem + 0.5333vw, 1.625rem);
    --fs-h5: clamp(1rem, 0.9rem + 0.4vw, 1.375rem);
    --fs-h6: clamp(0.875rem, 0.8083rem + 0.2667vw, 1.125rem);
    --fs-normal: clamp(0.875rem, 0.8083rem + 0.2667vw, 1.125rem);
    --fs-sm: clamp(0.875rem, 0.8417rem + 0.1333vw, 1rem);
    --fs-xs: clamp(0.75rem, 0.7167rem + 0.1333vw, 0.875rem);

    font-size: var(--fs-normal);
    line-height: 1.5;

}

#page { position:relative; width:100%; overflow:hidden; }
#main { margin-top:var(--headerHeight); }

/* Header */
#header { position:fixed; left:0; top:0; width:100%; height:var(--headerHeight); z-index:10; }

/* Footer */
#footer {}

/**
 * Utility classes
 **/

/* Text Sizing */
.h1, h1 { font-size:var(--fs-h1); line-height:1.25; }
.h2, h2 { font-size:var(--fs-h2); line-height:1.25; }
.h3, h3 { font-size:var(--fs-h3); line-height:1.33; }
.h4, h4 { font-size:var(--fs-h4); line-height:1.33; }
.h5, h5 { font-size:var(--fs-h5); line-height:1.5; }
.h6, h6 { font-size:var(--fs-h6); line-height:1.5; }
.p { font-size: var(--fs-normal); }
.small { font-size: var(--fs-sm); }
.small-xs { font-size:var(--fs-xs); }

/* Containers */
.container { width:100%; max-width:var(--containerWidth); padding-left:var(--gap); padding-right:var(--gap); }
.container-fluid { padding-left:var(--gap); padding-right:var(--gap); }
.container-left { max-width:var(--containerWidthLg); margin-right:auto; padding-right:var(--gap); }
.container-right { max-width:var(--containerWidthLg); margin-left:auto; padding-left:var(--gap); }

/* Spacings */
.margin { margin-top:var(--spacing); margin-bottom:var(--spacing); }
.margin-sm { margin-top:var(--spacingSm); margin-bottom:var(--spacingSm); }
.margin-lg { margin-top:var(--spacingLg); margin-bottom:var(--spacingLg); }

.padding { padding-top:var(--spacing); padding-bottom:var(--spacing); }
.padding-sm { padding-top:var(--spacingSm); padding-bottom:var(--spacingSm); }
.padding-lg { padding-top:var(--spacingLg); padding-bottom:var(--spacingLg); }

.mt0 { margin-top:0; }
.mt1 { margin-top:1.5rem; }
.mt2 { margin-top:3rem; }
.mt3 { margin-top:4.5rem; }
.mt4 { margin-top:6rem; }
.mb0 { margin-bottom:0; }
.mb1 { margin-bottom:1.5rem; }
.mb2 { margin-bottom:3rem; }
.mb3 { margin-bottom:4.5rem; }
.mb4 { margin-bottom:6rem; }
.pt0 { padding-top:0; }
.pt1 { padding-top:1.5rem; }
.pt2 { padding-top:3rem; }
.pt3 { padding-top:4.5rem; }
.pt4 { padding-top:6rem; }
.pb0 { padding-bottom:0; }
.pb1 { padding-bottom:1.5rem; }
.pb2 { padding-bottom:3rem; }
.pb3 { padding-bottom:4.5rem; }
.pb4 { padding-bottom:6rem; }
.g0 { gap:0; }

/* Utility */
.relative { position:relative; }
.h100 { height:100%; }
.hide { display:none; }

/* Text */
.text-left { text-align:left; }
.text-center {  text-align:center; }
.text-right { text-align:right; }

/* Grid */
.row { display:flex; flex-direction:row; align-items:center; justify-content:space-between; gap:var(--gap); }
.col { display:flex; flex-direction:column; align-items:stretch; justify-content:center; gap:var(--gap); }

.grid { display:grid; grid-template-rows:auto; gap:var(--gap); align-items:center; }
.g1 { grid-template-columns:1fr; }
.g2 { grid-template-columns:repeat(2, 1fr); }
.g3 { grid-template-columns:repeat(3, 1fr); }
.g4 { grid-template-columns:repeat(4, 1fr); }
.g5 { grid-template-columns:repeat(5, 1fr); }
.g6 { grid-template-columns:repeat(6, 1fr); }
.g7 { grid-template-columns:repeat(7, 1fr); }
.g8 { grid-template-columns:repeat(8, 1fr); }
.g9 { grid-template-columns:repeat(9, 1fr); }
.g10 { grid-template-columns:repeat(10, 1fr); }
.g11 { grid-template-columns:repeat(11, 1fr); }
.g12 { grid-template-columns:repeat(12, 1fr); }

.s1 { grid-column-start: 1; }
.s2 { grid-column-start: 2; }
.s3 { grid-column-start: 3; }
.s4 { grid-column-start: 4; }
.s5 { grid-column-start: 5; }
.s6 { grid-column-start: 6; }
.s7 { grid-column-start: 7; }
.s8 { grid-column-start: 8; }
.s9 { grid-column-start: 9; }
.s10 { grid-column-start: 10; }
.s11 { grid-column-start: 11; }
.s12 { grid-column-start: 12; }

.e1 { grid-column-end: span 1; }
.e2 { grid-column-end: span 2; }
.e3 { grid-column-end: span 3; }
.e4 { grid-column-end: span 4; }
.e5 { grid-column-end: span 5; }
.e6 { grid-column-end: span 6; }
.e7 { grid-column-end: span 7; }
.e8 { grid-column-end: span 8; }
.e9 { grid-column-end: span 9; }
.e10 { grid-column-end: span 10; }
.e11 { grid-column-end: span 11; }
.e12 { grid-column-end: span 12; }

/**
 * Components
 **/

/* Marquees */
.marquee-btn { position:absolute; top:0; right:0; height:100%; background:red; padding:0 1rem; z-index:2; }
.marquee-item { display:inline-block; padding:0 var(--gap); }

/* Fancybox */
[data-fancybox-popup] .grid { max-width:1000px; max-height:80vh; overflow-y:auto; }

/* Buttons */
.btn { display:inline-flex; width:max-content; white-space:nowrap; padding:0.5rem 1rem; cursor:pointer; border:1px solid transparent; transition:all 0.4s ease 0s; }

/* Forms */
.field { flex-grow:1; }

/**
 * Pages
 **/

/* Accueil */
