<fieldset class="field-radios {{ class }}">
    <legend>{{ label|default(name)|_ }}</legend>
    <div class="{{ flex }}">
        {% for key, item in items %}
            <div class="field field-radio {{ subclass }}">
                <input class="field-input" type="radio" id="{{ id|default(name|slug) }}-{{ loop.index }}" name="{{ name }}" value="{{ key matches '/^\\d+$/' ? item : key }}" />
                <label class="field-label" for="{{ id|default(name|slug) }}-{{ loop.index }}"><span></span>{{ item }}</label>
            </div>
        {% endfor %}
    </div>
    <div data-validate-for="{{ name }}"></div>
</fieldset>