<div class="field field-radio {% if switch %}field-switch{% endif %} {{ class }}">
    <input 
        type="radio" 
        id="field-{{ name|slug }}-{{ loop.index|default(1) }}"
        class="field-input"
        name="{{ name }}" 
        value="{{ value|default(1) }}" 
        {% if xmodel %}x-model="{{ xmodel }}"{% endif %}
        {% if default == value %}checked{% endif %}
        {% if dataRequest %}data-request="{{ dataRequest }}"{% endif %}
        {% if dataRequestUpdate %}data-request-update="{{ dataRequestUpdate }}"{% endif %}
        {% if dataRequestSuccess %}data-request-success="{{ dataRequestSuccess }}"{% endif %}
        {% if dataRequestRedirect %}data-request-redirect="{{ dataRequestRedirect }}"{% endif %}
        {% if dataRequestData %}data-request-data="{{ dataRequestData }}"{% endif %}
    />
    <label class="field-label" for="field-{{ name|slug }}-{{ loop.index|default(1) }}">
        <span></span>
        {{ body|default(label)|default(name)|_ }}
    </label>
</div>