[contenteditor editor]

[seo]

[popups]
category = 0
type = "fancybox"
mode = "separate"
swiper = 0
fancybox = 0

[matomojs]
==
<!DOCTYPE html>
<html lang="{{ this.site.hard_locale }}" prefix="og: http://ogp.me/ns#">
<head>
    {# Metas #}
    {% component 'seo' %}
    {% component 'matomojs' %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# Css #}
    <link href="{{ ['@framework.bundle', 'assets/vendor/hamburgers/hamburgers.css']|theme }}.css" rel="stylesheet" />
    <link href="{{ ['assets/css/core.scss', 'assets/css/styles.scss', 'assets/css/responsive.scss']|theme }}.css" rel="stylesheet" />
    {% styles %}
    {# Js #}
    <script defer src="{{ ['@framework.bundle']|theme }}.js"></script>
    <script defer src="{{ ['assets/vendor/lazysizes/lazysizes.js', 'assets/vendor/headroom/headroom.js']|theme }}.js"></script>
    <script defer src="{{ ['assets/js/core.js', 'assets/js/custom.js']|theme }}.js"></script>
</head>

<body id="{{ this.page.id }}">
    <div id="page">
        {% partial 'header' %}
        <main id="main">
            {% page %}
        </main>
        {% partial 'footer' %}
        {% component 'popups' %}
    </div>
    {# Js composants #}
    {% scripts %}
</body>
  
</html>