[contenteditor editor]

[matomojs]

[fancybox popup]
handle = "Messages\Popup"
cookie = 24
==
<!DOCTYPE html>
<html lang="{{ this.site.hard_locale }}" prefix="og: http://ogp.me/ns#">
<head>
    {# Metas #}
    {% partial 'seo' %}
    {# Analytics #}
    {% component 'matomojs' %}
    {# Css #}
    <link href="{{ ['@framework.bundle']|theme }}.css" rel="stylesheet" />
    <link href="{{ ['assets/vendor/hamburgers/hamburgers.css']|theme }}.css" rel="stylesheet" />
    <link href="{{ ['assets/css/core.css', 'assets/css/styles.css', 'assets/css/responsive.css']|theme }}.css" rel="stylesheet" />
    {% styles %}
    {# Js #}
    <script defer src="{{ ['@framework.bundle']|theme }}.js"></script>
    <script defer src="{{ ['assets/vendor/lazyload/lazyload.js', 'assets/vendor/headroom/headroom.js', 'assets/vendor/lenis/lenis.js']|theme }}.js"></script>
    <script defer src="{{ ['assets/vendor/alpine/collapse.js', 'assets/vendor/alpine/mask.js', 'assets/vendor/alpine/alpine.js']|theme }}.js"></script>
    <script defer src="{{ ['assets/vendor/gsap/gsap.js', 'assets/vendor/gsap/ScrollTrigger.js']|theme }}.js"></script>
    <script defer src="{{ ['assets/js/core.js', 'assets/js/custom.js']|theme }}.js"></script>
    {% scripts %}
</head>

<body id="page-{{ this.page.id }}" x-data="{ menuOpen: false }" :class="menuOpen ? 'menu-open' : ''">
    <div id="page">
        {% partial 'header' %}
        <main id="main">
            {% page %}
        </main>
        {% partial 'footer' %}
        {% component 'popup' %}
    </div>
</body>
</html>