[matomojs]
==
<?php
function onInit() {
    $this->page->meta_robots = 'noindex, nofollow';
}
?>
==
<!DOCTYPE html>
<html lang="{{ this.site.hard_locale }}" prefix="og: http://ogp.me/ns#">
<head>
    {# Metas #}
    {% partial 'seo' %}
    {# Analytics #}
    {% component 'matomojs' %}
    {# Css #}
    <link href="{{ ['assets/css/core.css', 'assets/css/maintenance.css']|theme }}.css" rel="stylesheet" />
    {% styles %}
    {# Js #}
    <script defer src="{{ ['assets/vendor/lottie/lottie-player.min.js']|theme }}.js"></script>
    {% scripts %}
</head>

<body id="maintenance" class="{{ this.page.id }}">
    <main id="main">
        {% page %}
    </main>
    {% scripts %}
</body>
</html>