[contenteditor editor]

[GtmHead]

[GtmBody]

[seo]
==
<!DOCTYPE html>
<html lang="fr" prefix="og: http://ogp.me/ns#">
<head>
    {% component 'GtmHead' %}
    {% component 'seo' %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% styles %}
    <link href="{{ ['assets/scss/maintenance.scss']|theme }}" rel="stylesheet" />
</head>

<body id="maintenance" class="{{ this.page.id }}">
    {% component 'GtmBody' %}
    <main id="main">
        {% page %}
    </main>
    {% scripts %}
</body>
  
</html>