{{ form_ajax('contact::onFormSubmit', { validate: true, files: true }) }}

    <div class="field field-text">
        <label for="contact-nom">{{ "Nom"|_ }}</label>
        <input type="text" id="contact-nom" name="Nom" autocomplete="family-name" />
        <div data-validate-for="Nom"></div>
    </div>

    <div class="field field-text">
        <label for="contact-prenom">{{ "Prénom"|_ }}</label>
        <input type="text" id="contact-prenom" name="Prénom" autocomplete="given-name" />
        <div data-validate-for="Prénom"></div>
    </div>

    <div class="field field-text">
        <label for="contact-address">{{ "Adresse"|_ }}</label>
        <input type="text" id="contact-address" name="Adresse" autocomplete="address-line1"/>
        <div data-validate-for="Adresse"></div>
    </div>

    <div class="field field-text">
        <label for="contact-cp">{{ "Code postal"|_ }}</label>
        <input type="text" id="contact-cp" name="Code_postal" autocomplete="postal-code"/>
        <div data-validate-for="Code_postal"></div>
    </div>

    <div class="field field-text">
        <label for="contact-city">{{ "Ville"|_ }}</label>
        <input type="text" id="contact-city" name="Ville" autocomplete="city"/>
        <div data-validate-for="Ville"></div>
    </div>

    <div class="field field-text">
        <label for="contact-email">{{ "Email"|_ }}</label>
        <input type="email" id="contact-email" name="Email" />
        <div data-validate-for="Email"></div>
    </div>

    <div class="field field-text">
        <label for="contact-telephone">{{ "Téléphone"|_ }}</label>
        <input type="tel" id="contact-telephone" name="Téléphone" autocomplete="phone" x-mask="99/99/9999" />
        <div data-validate-for="Téléphone"></div>
    </div>

    <div class="field field-textarea">
        <label for="contact-message">{{ "Message"|_ }}</label>
        <textarea name="Message" id="contact-message"></textarea>
        <div data-validate-for="Message"></div>
    </div>

    <div class="field field-upload">
        {% partial '@filepond' %}
        <div data-validate-for="files"></div>
    </div>

    <div class="field field-captcha">
        {% partial '@recaptcha' %}
        <div data-validate-for="g-recaptcha-response"></div>
    </div>

    <button type="submit" data-attach-loading>{{ "Envoyez un message"|_ }}</button>

    <div id="{{ contact.alias }}_forms_flash"></div>

{{ form_close() }}