<div class="container py-lg">
{{ form_ajax('contact::onFormSubmit', { validate: true, files: true, class: 'form col' }) }}
    {% set items = {opt1:'Option 1', opt2:'Option 2', opt3:'Option 3'} %}

    {% partial 'forms/text' name="Nom" suffix='€' comment="Lorem Ipsum" %}
    {% partial 'forms/select' name="Select" items=items comment="Lorem Ipsum" %}
    {% partial 'forms/text' type="range" name="Number" comment="Lorem Ipsum" %}
    {% partial 'forms/textarea' name="Message" comment="Lorem Ipsum" %}
    {% partial 'forms/checkbox' name="Switch" switch=true default=true comment="Lorem Ipsum" %}
    {% partial 'forms/checkboxes' name="checkbox" items=items flex="row" switch=true comment="Lorem Ipsum" %}
    {% partial 'forms/radios' name="radio" items=items flex="row" default="opt2" comment="Lorem Ipsum" %}
    {% partial 'forms/filepond' comment="Lorem Ipsum" %}
    {% partial 'forms/recaptcha' comment="Lorem Ipsum" %}
    <button type="submit" data-attach-loading>{{ "Envoyez un message"|_ }}</button>
    <div id="{{ contact.alias }}_forms_flash"></div>
{{ form_close() }}
</div>